<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cafeteria Unapec</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cafeteria Unapec", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link off" href="#!">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                               href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Ingresar datos
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item"class="">@Html.ActionLink("Cafeterias", "Index", "Cafeteria")</a>
                                <br/>
                                <a class="dropdown-item">@Html.ActionLink("Campus", "Index", "Campus")</a>
                                <br/>
                                <a class="dropdown-item">@Html.ActionLink("Articulos", "Index", "Articulos")</a>
                                <br/>
                                <a class="dropdown-item">@Html.ActionLink("Empleados", "Index", "Empleados")</a>
                                <br/>
                                <a class="dropdown-item">@Html.ActionLink("Marcas", "Index", "Marcas")</a>
                                <br/>
                                <a class="dropdown-item">@Html.ActionLink("Proveedores", "Index", "Proveedores")</a>
                                <br/>
                                <a class="dropdown-item">@Html.ActionLink("Tipos de Usuarios", "Index", "UserTypes")</a>
                                <br/>
                                <a class="dropdown-item">@Html.ActionLink("Usuarios", "Index", "Usuarios")</a>
                            </div>
                        </li>
                    </ul>
                    </ul>

                    @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cafeteria Unapec by: Grupo 02: Jonathan Vilchez 2017-1580, Martires Valdez-2019-0373 y Kenny Cuevas 2018-2146</p><br />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
